
[class*="col-"]{
    border: 1px solid red;
}

.j-img{
    width: 100%;
}

.h-bar{
    background-color: #2c3e50;
    height: 70px;
    padding: 20px;
}

.green-back{
    background-color: #1abc9c;
    height: 500px;
}

.portfolio{
    height: 1000px;
}

.container-fluid{
    border: 3px black dotted;
}

